@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;

300;400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 14px;
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

html {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper._loaded {
  font: optional;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  overflow: hidden;
  position: relative;
}

.header::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  border: 1px solid #777777;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  content: "";
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  height: 55px;
  margin-right: 17px;
}

.logo__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.1em;
  color: #8F8F8F;
  text-transform: uppercase;
}

.header__links {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  width: 192.74px;
  height: 45px;
  border-radius: 4px;
  border: 2px solid #2099d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #008ad1;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 27px;
  text-align: left;
  text-transform: uppercase;
}

.header__link:last-child {
  margin-left: 30px;
}

.header__link:hover {
  color: #fff;
  background-color: #008ad1;
}

.header__toggle {
  display: none;
}

.nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  overflow-y: auto;
  height: calc(100vh - 80px);
}

.nav__list {
  padding-top: 20px;
}

.nav__item {
  padding: 10px 0;
  border-bottom: 1px solid #CECECE;
  padding-left: 12px;
}

.nav__link {
  display: inline-block;
  color: #000;
  line-height: 16px;
  letter-spacing: 0.11em;
  font-weight: 500;
}

.selected {
  border-left: 4px solid #0094D9;
}

.selected a {
  color: #0094D9;
}

.spoiler {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.spoiler.open .spoiler__list {
  display: block;
}

.spoiler.open i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: -13px;
}

.spoiler__header {
  position: relative;
  line-height: 16px;
  letter-spacing: 0.11em;
}

.spoiler__header i {
  position: absolute;
  left: -11px;
  font-size: 10px;
  top: 1px;
}

.spoiler__list {
  display: none;
  padding-top: 3px;
  font-size: 13px;
}

.spoiler__item {
  padding-left: 10px;
  padding-bottom: 3px;
  font-weight: lighter;
}

.spoiler__link {
  color: #000;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.instruction {
  padding: 25px 10px 10px 10px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  padding: 20px;
  color: #616161;
  font-size: 16px;
}

.instruction__title {
  color: #282936;
  font-size: 24px;
  margin-bottom: 10px;
}

.instruction__list {
  padding-left: 20px;
}

.instruction__item {
  margin-bottom: 20px;
}

.instruction__text {
  margin: 20px 0;
}

.instruction__link {
  color: #007bff;
}

.instruction__img {
  width: 100%;
  height: 100%;
  border: 1px solid 616161;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (max-width: 1252px) {
  .container {
    padding: 0 25px;
  }
}

@media (max-width: 991.98px) {
  .container {
    padding: 0 15px;
  }

  .header__links {
    display: none;
  }

  .header__link {
    width: 103.23px;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }

  .logo__title {
    font-size: 24px;
  }

  .header.active .header__logo {
    display: none;
  }

  .header.active #burger {
    display: none;
  }

  .header.active .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header.active #close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__toggle {
    width: 74px;
    height: 32px;
    border-radius: 4px;
    border: 2px solid #BCE0F3;
    background-color: #fff;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #008ad1;
  }

  .header__toggle span {
    display: block;
    width: 12px;
    height: 10px;
    background: url("../img/burger.svg");
  }

  .header__toggle p {
    margin-left: 5px;
  }

  #burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav {
    font-size: 16px;
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    bottom: 0;
    z-index: 3;
    background-color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }

  .nav.active {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .logo__title {
    font-size: 18px;
  }

  .logo__img {
    margin-right: 7px;
  }

  .header__link:last-child {
    margin-left: 10px;
  }

  .nav {
    font-size: 14px;
  }
}

@media (max-width: 479.98px) {
  .nav {
    font-size: 12px;
  }

  .nav__list {
    padding-top: 0;
  }
}